version: "3"
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    expose:
      - 80
    restart: always
    environment:
      VIRTUAL_HOST: serwis.raportserwisowy.pl
      VIRTUAL_PORT: 6000
      LETSENCRYPT_HOST: serwis.raportserwisowy.pl
      LETSENCRYPT_EMAIL: andrzejmarek116@gmail.com
networks:
  default:
    external:
      name: nginx-proxy
